<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <a href="/">Joki</a>
        <a href="/uni">Universitātes</a>
        {%block saturs%}
        <h2>Joki šeit!</h2>
        <img src="{{bilde}}">
        <p>{{joks}}</p>
        <form method = "post">
            <select name = "kat">
                {% for elements in kategorijas %}
                    <option value = {{elements}}>{{elements}}</option>
                {%endfor%}
            </select>
            <input type="submit" value="Izvēlēties joka kategoriju!">
        </form>
        {%endblock%}
    </body>
</html>